if [ ! -f .venv/bin/activate ]; then
  if has uv; then
    uv sync
  else
    echo "Error: uv is missing. Please install it from https://docs.astral.sh/uv/"
  fi
fi

if [ -f .venv/bin/activate ]; then
  source .venv/bin/activate
fi

dotenv_if_exists
